{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags %}

{% block content %}
<div class="nice-padding w-mt-14">

<h1>License Decoder</h1>

<div id="msg"></div>
<form id="snipForm" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
    <table width="100%">
        <tr>
            <td>
                <input type="file" id="licenseFile" name="files"/>
            </td>
            <td>
                <button id="upload" class="button button-longrunning">Upload</button>
            </td>
        </tr>
    </table>
</form>
<br />
<table width="90%" style="table-layout: fixed;">
    <tr>
        <td style="word-wrap: break-word">
            <div id="output"></div>
        </td>
    </tr>
    <tr>
        <td>
            <hr />
        </td>
    </tr>

    <tr>
        <td style="word-wrap: break-word">
            <div id="output_json"></div>
        </td>
    </tr>
</table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
$(document).ready(function (e) {
  $('#upload').on('click', function (event) {
    //Prevent page from reloading
    event.preventDefault()
    var form_data = new FormData();
    // check if there is any file selected
    const licenseFile = document.getElementById('licenseFile');
    //var ins = document.getElementById('licenseFile').files.length;
    var ins = licenseFile.files.length;
    if(ins == 0) {
      $('#msg').html('<span style="color:red">Select at least one file</span>');
      return;
    }
    if(ins > 1) {
      $('#msg').html('<span style="color:red">Only allow 1 file per upload</span>');
      return;
    }

    let licenseContent;
    let licenseJSON;
    var file = licenseFile.files[0];
    var fr = new FileReader();
   	fr.onload = function () {
	    // Do stuff on onload, use fr.result for contents of file
        licenseContent = fr.result;

        // obtain CSFR token
        csrf_token = $('input[name="csrfmiddlewaretoken"]').val();

        // set the headers
        headers = {'HTTP_X_REQUESTED_WITH': 'XMLHttpRequest', 'X-CSRFToken': csrf_token};

        $.ajax({
            type: 'POST',
            url: '/licenses/handler/', // point to server-side URL
            dataType: "json",
            ContentType: false,
            cache: false,
            processData: false,
            headers: headers,
            data: licenseContent,
            success: function (response) { // display success response
		        $( '#output' ).text(JSON.stringify(response));
                console.log(response)
            },
            error: function (response) {
		        $( '#output' ).text(JSON.stringify(response));
                console.log(response)
            }
        });
	};
	fr.readAsText( file );
  });
});

</script>

{% endblock %}
